@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Satisfy&display=swap');

:root {
  --background: #ffffff;
  --foreground: #fff8f0;
  --devtext: #4ED7F1;
  --dev: #0f2027;
  --deve: #1a2f38;
  --edit: #1c1c1c;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-dev: var(--dev);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --devtext: var(--devtext);
    --dev: #0f2027;
    --edit: #1c1c1c;

  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: sans-serif;
}

.font-anton {
  font-family: var(--font-anton);
}

.font-satisfy {
  font-family: var(--font-satisfy);
}

html {
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
}


@keyframes blink {

  0%,
  100% {
    border-color: transparent;
  }

  50% {
    border-color: #1E293B;
  }
}

.animate-blink {
  animation: blink 1s step-start infinite;
}

/* animate dot active */
/* Inactive dots */
.react-multi-carousel-dot button {
  background: #ffffff !important;
  border: 1px solid #ccc;
  transition: all 0.3s ease;
  width: 14px;
  height: 14px;
  margin: 0 8px;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

/* Active dot */
.react-multi-carousel-dot--active button {
  background: #4ED7F1 !important;
  transform: scale(1.5);
  border: 2px solid rgba(255, 0, 0, 0.7) !important;
  transition: all 0.3s ease;
  box-shadow:
    0 0 0 3px rgba(255, 0, 0, 0.2),    /* soft red border glow */
    0 4px 15px rgba(255, 0, 0, 0.4),   /* reddish outer glow */
    0 0 8px rgba(78, 215, 241, 0.8);   /* main sky-blue glow */
}


/* Style left and right arrows */
.react-multiple-carousel__arrow {
  background-color: rgb(216, 224, 76) !important; /* custom color */
  z-index: 20;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: 0.3s;
}

.react-multiple-carousel__arrow:hover {
  background-color: #38bdf8 !important; /* hover shade */
}



